<%- include("./includes/head") %>
    <h1 class="title">Home page</h1>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit velit harum dolorem sequi magni sapiente blanditiis excepturi cum ducimus officiis ullam cumque nostrum, natus totam odio a itaque? Quia, voluptatibus.</p>
    <a href="/admin/create-post">Add a new post! </a>
    <hr/>
    
    <h1 class="title">Posts</h1>
    <% if(postsArr.length===0) {%>
        <div>
            <h4>Nothing to see ?</h4>
            <p>Create a new post now !!! </p>
            <a href="/admin/create-post">Create a new post! </a>
        </div>
        <% } %>

    <% for(let post of postsArr) {%>    
    <div class="post-box">
        <p class="post-title"><%=post.title%></p>
        <p class="post-des">
         <a class="btn" href="/post/<%= post.id %>">See more...</a>
        </p>
    </div>
    <% } %>
<%- include("./includes/foot")%>